<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string></string>
		<key>topics</key>
		<array>
			<dict>
				<key>title</key>
				<string>Alfabetisk liste</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
	</dict>
	<dict>
		<key>footer</key>
		<string>Ved bevisstløshet ring 113</string>
		<key>title</key>
		<string>Generelle råd</string>
		<key>topics</key>
		<array>
			<string>svelging</string>
			<string>hudkontakt</string>
			<string>sol-i-oyet</string>
			<string>innanding</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Mer om</string>
		<key>topics</key>
		<array>
			<string>om-giftinformasjonen</string>
			<string>brekninger</string>
			<string>bevisstloshet</string>
			<string>medisinsk-kull</string>
			<string>forebygging</string>
		</array>
	</dict>
</array>
</plist>
