
body {
    padding: 0 0.5em;
}

ul,
ol {
    margin-left: 0;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.5em;
}


/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Set all font to sans-serif   
 */
 
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

p {
    line-height: 150%;
}

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}